body 
{
    /*
    cursor: url("cursor1.png"), auto;
    */
}

h1, h2
{
    font-family: "Britannic Bold", serif
}

h1
{
    color: #f43030;
}

h2
{
    color: pink;
}

h5, p, a
{
    font-family: "Comic Sans MS", serif;
}
h5
{
    color: white;
}

p
{
    color: white;
}

a
{
    color: cyan;
}

nav
{
    background-color: #008686;
}
